@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  --color-primary: var(--primary);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  /* Mapping Color Variable */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/* --- TEMA TERANG (LOGIN) - Elegant White --- */
:root {
  /* Background: Hitam Arang (Dark Charcoal) */
  --background: oklch(0.1934 0.0144 253.18);
  --foreground: oklch(0.95 0.01 260); /* Putih Gading */

  --card: oklch(0.13 0.02 260);
  --card-foreground: oklch(0.95 0.01 260);

  --popover: oklch(0.13 0.02 260);
  --popover-foreground: oklch(0.95 0.01 260);

  /* Primary: Tetap Emas/Oranye Sinari */
  --primary: #ef473a;
  --primary-foreground: oklch(0.5324 0.0493 55);
  --gradient-primary: oklch(0.5542 0.1928 21);

  --secondary: oklch(0.1475 0.0083 247.26);
  --secondary-foreground: oklch(0.95 0.01 260);

  --muted: oklch(0.25 0.02 260);
  --muted-foreground: oklch(0.7 0.01 260);

  --accent: oklch(0.25 0.02 260);
  --accent-foreground: oklch(0.95 0.01 260);

  --destructive: oklch(0.5652 0.1511 11.4);
  --destructive-foreground: oklch(0.985 0 0);

  --border: oklch(0.3 0.02 260);
  --input: oklch(0.25 0.02 260);
  --ring: var(--primary);

  /* Chart Colors (Bawaan Shadcn - Dark Mode) */
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.1475 0.0083 247.26);
  --sidebar-foreground: oklch(0.95 0.01 260);
  --sidebar-primary: oklch(0.72 0.16 55);
  --sidebar-primary-foreground: oklch(0.95 0.01 260);
  --sidebar-accent: oklch(0.25 0.02 260);
  --sidebar-accent-foreground: oklch(0.95 0.01 260);
  --sidebar-border: oklch(0.3 0.02 260);
  --sidebar-ring: var(--primary);

  --primary-hover: oklch(0.65 0.16 55);

  --button-hover-dark: oklch(0.28 0.02 260);

  --button-hover-light: oklch(0.92 0.005 260);
}

/* CSS HACK: Matikan background putih Autofill Chrome */
@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--foreground) !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 9999s ease-in-out 0s;
  }

  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}
